body {
  font-family: "Ubuntu";
  background-image: url(../../images/backgrounds/resources-background.gif);
  background-repeat: repeat;
  overflow-x: hidden;
}

a {
  color: #394a59;
}

.background-image {
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 33.25%;
}

.glyphicon {
  padding: 20px;
}

.container {
  position: relative;
}

.ubuntu-font{
  font-family: "Ubuntu";
}

.modal.in .close-modal {
  visibility: visible;
}

.close-modal {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 200%;
  cursor: pointer;
}

#hero, #reviews, #info-map {
  outline: none;
}

#pro-gallery-slick,
.reviews-slider {
  visibility: hidden;
  height: 0;
}

.modal {
  display: block;
  visibility: hidden;
  height: 0;
  overflow-y: hidden;
}

/*Extra small devices (mobile phones, 767px and below)*/
@media screen and (max-width: 767px) {
  .background-image {
    padding-bottom: 56%;
  }
}

/*Small devices (landscape phones, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .glyphicon{
    padding: 10px;
  }
}

/*Medium devices (tablets, netbooks, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* TODO remove if unnecessary */
}

/*Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /* TODO remove if unnecessary */
}

@media screen and (min-width: 1919px) {
  /*.visible-lg {
    display: none !important;
  }*/
  .navbar-default .navbar-nav > li > a {
    font-size: 20px;
  }  
}

/*@media screen and (max-width: 1920px) {
  .visible-xlg {
    display: none !important;
  }
}

@media screen and (min-width: 1920px) {
  .visible-lg {
    display: none !important;
  }
}

@media screen and (max-width: 1921px) {
  .visible-xlg {
    display: none !important;
  }
}*/