#facebook-posts {
  /*padding: 2.5%;*/
  margin-top: 60px;
  padding: 40px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: #f0eccf;
}

#facebook-posts h2,
#facebook-posts h3 {
  margin: 20px;
}

#facebook-posts a {
  color: #73a8bf;
}

.facebook-post {
  display: inline-block;
  width: 8%;
  padding-bottom: 8%;
  margin: 1%;

  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: -1;
  transition: transform 0.5s;
}

.facebook-post:hover {
  z-index: 1;
  transform: scale(1.33);
}

/*Extra small devices (mobile phones, 767px and below)*/
@media screen and (max-width: 767px) {
  /* TODO remove if unnecessary */
}

/*Small devices (landscape phones, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  /* TODO remove if unnecessary */
}

/*Medium devices (tablets, netbooks, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* TODO remove if unnecessary */
}

/*Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /* TODO remove if unnecessary */
}