#instagram-posts {
  /*padding: 2.5%;*/
  margin-top: 60px;
  padding: 40px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: #f0eccf;
}

#instagram-posts h2,
#instagram-posts h3 {
  margin: 20px;
}

#instagram-posts a {
  color: #73a8bf;
}

/*Extra small devices (mobile phones, 767px and below)*/
@media screen and (max-width: 767px) {
  #instagram-posts {
    padding: 1px;
  }
}

/*Small devices (landscape phones, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  /* TODO remove if unnecessary */
}

/*Medium devices (tablets, netbooks, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* TODO remove if unnecessary */
}

/*Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /* TODO remove if unnecessary */
}