#itinerary {
  position: relative;
  font-size: 1.3em;
}

#itinerary a:hover,
#itinerary a:focus,
#itinerary a:active {
  text-decoration: none;
}

#itinerary a {
  cursor: pointer;
}

#itinerary p.no-indent {
  text-indent: 0;
}

#itinerary .btn {
  font-family: "Ubuntu";
  text-indent: 0;
}

#itinerary .col-xs-12 {
  background-color: #f8f6e8;
  border-radius: 5px;
  margin: 15px;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  #itinerary .col-xs-12 {
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  #itinerary {
    font-size: .9em;
  }
}