#pro-gallery {
  transform: rotate(-2deg);
}

#pro-gallery {
  position: relative;
}

#pro-gallery .btn-viewgallery {
  position: absolute;
  border-radius: 0;
  background: #fff;
  border: solid 3px gray;
  font-size: 150%;
  color: gray;
  transition: color 0.3s, background 0.3s;
}

#pro-gallery .btn-viewgallery:hover,
#pro-gallery .btn-viewgallery:active,
#pro-gallery .btn-viewgallery:focus {
  background: gray;
  color: white;
  outline: none;
}

#viewgallery-button {
  visibility: hidden;
  position: absolute;
  display: block;
  width: 33%;
  padding-bottom: 65.7%;
  background-image: url(../../images/buttons/view-gallery-trans.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

#viewgallery-button:hover,
#viewgallery-button:focus,
#viewgallery-button:active {
  background-image: url(../../images/buttons/view-gallery-trans-hover.gif);
}

#pro-gallery .item img {
  width: 60%;
  margin: 0 auto;
}

.background-image#oakbluffs-representer {
  background-image: url('../../images/pro-gallery/photo-lighthouse.gif');
}

.background-image#menemsha-representer {
  background-image: url('../../images/pro-gallery/photo-menemsha-harbor.gif');
}

.background-image#aquinnah-representer {
  background-image: url('../../images/pro-gallery/photo-sunset.gif');
}

.background-image#edgartown-representer {
  background-image: url('../../images/pro-gallery/photo-boat.gif');
}

/* Pro Gallery modal */
#pro-gallery-modal .modal-dialog {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#pro-gallery-modal .modal-content {
  max-width: 90%;
  min-width: 80%;
  margin: 0 auto;
}

#pro-gallery-slick.slick-initialized,
#pro-gallery-slick.slick-initialized .slick-list,
#pro-gallery-slick.slick-initialized .slick-track,
#pro-gallery-slick.slick-initialized .slick-slide,
#pro-gallery-slick.slick-initialized .slick-slide img {
  max-height: 75% !important;
  max-height: 75vh !important;
  height: auto;
  outline: none;
}

#pro-gallery-modal .slick-slide img {
  display: block;
  max-height: 95%;
  max-height: 95vh;
  max-width: 90%;
  margin: 0 auto;
  vertical-align: middle;
}

#pro-gallery-modal .modal-content {
  background: transparent;
  box-shadow: none;
  border: none;
}

#pro-gallery-slick.slick-initialized,
.reviews-slider.slick-initialized {
  visibility: visible;
  height: auto;
}

#pro-gallery-slick.slick-initialized .slick-slide {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

/*Small devices (landscape phones, 767px and up)*/
@media screen and (max-width: 767px) {
  .background-image#edgartown-representer {
    padding-bottom: 68.5%;
  }

  #viewgallery-button {
    width: 50%;
  }

  /* Pro Gallery modal */

  #pro-gallery-modal .modal-dialog {
    max-width: 80%;
    min-width: 70%;

    margin: 0 auto;
  }
}

/*Small devices (landscape phones, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  /* TODO remove if unnecessary */
}

/*Medium devices (tablets, netbooks, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* TODO remove if unnecessary */
}

/*Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /* TODO remove if unnecessary */
}