#reviews {
  /*background: #222222;*/
  /*color: #eeeeee;*/
  padding: 40px 0;
}

#reviews .glyphicon {
  padding: 2px;
}

#reviews blockquote {
  border-left: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#reviews blockquote * {
  margin-bottom: 10px;
}

#reviews blockquote,
#reviews blockquote footer,
#reviews blockquote a {
  color: #f0eccf;
}

#reviews blockquote p:before {
  content: ' ';
  display: block;
  width: 185px;
  height: 22px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  background-image: url(../../images/hand-drawns/every-tuesday-hand-drawn-decorative-divider-horizontal-white.gif);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#reviews blockquote p {
  display: inline-block;
  /*width: calc(100% - 44px);*/
  /*color: wheat;*/
}

#reviews blockquote footer {
  /*text-align: right;*/
}

#yelp-burst {
  height: 6em;
}

#facebook-f {
  padding: 1.5em;
  height: 6em;
  width: 6em;
}

.reviews-slider {
  cursor: default;
  outline: none;
}

.reviews-slider a {
  cursor: pointer;
}

/*Extra small devices (mobile phones, 767px and below)*/
@media screen and (max-width: 767px) {
  /* TODO remove if unnecessary */
}

/*Small devices (landscape phones, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  /* TODO remove if unnecessary */
}

/*Medium devices (tablets, netbooks, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* TODO remove if unnecessary */
}

/*Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /* TODO remove if unnecessary */
}