/* bower:css */
@import '../bower_components/bootstrap/dist/css/bootstrap.css';
/* endbower */

body{
  font-family: "Ubuntu";
}


@import 'spinner.css';


.navbar-default {
  position: absolute;
    background: transparent;
  width: 100%;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #394a59;
  font-size: 30px;
  font-weight: 400;
  font-variant: small-caps;

}

.navbar-default .navbar-nav:not(.navbar-right) > li:not(:last-child):after{
  position: absolute; 
  display: inline-block;
  right: -1px;
  top: 7px;
  content: "";
  height:38px;
  width: 6px;
  background-image: url(../images/navigation/nav-ornament.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: contain;
}
.ubuntu-font{
  font-family: "Ubuntu";
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  color: #394a59;
  background: transparent;
}
.navbar-default .navbar-nav > .active > a:hover{
  color: #395a58;
}
ul.navbar-nav{
  letter-spacing: 2px;
  margin: 40px auto;
}

.navbar-brand {
  padding: 15px, 15px;
}
.nav{
  padding: 0px;
}

.navbar-brand img {
  max-height: 8em;
}

#hero, #reviews, #info-map {
  outline: none;
}

#hero {
  width: 100%;
/*  padding: 10%;
*/  background: #444;
  display: table;
}

.uil-default-css {
  margin: 0 auto;
}

.reviews-slider {
  cursor: default;
}

.reviews-slider a {
  cursor: pointer;
}

#info-map {
  position: relative;
}

.map {
  width: 100%;
}

.pop-up {
  position: absolute;

  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;

  background: rgba(0, 0, 0, 0.8);

  padding: 10%;
  color: #fff;
}

.pop-up p {
  font-size: 150%;
}

.pop-up .glyphicon-remove {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#pro-gallery {
  position: relative;
}

#pro-gallery .btn-viewgallery {
  position: absolute;

  border-radius: 0;
  background: #fff;
  border: solid 3px gray;
  font-size: 150%;
  color: gray;
  transition: color 0.3s, background 0.3s;
}

#pro-gallery .btn-viewgallery:hover,
#pro-gallery .btn-viewgallery:active,
#pro-gallery .btn-viewgallery:focus {
  background: gray;
  color: white;
  outline: none;
}

#pro-gallery .item img {
  width: 60%;
  margin: 0 auto;
  height: auto;
}

.background-image {
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 33.25%;
}

@media screen and (max-width: 768px) {
  .background-image {
    padding-bottom: 56%;
  }
}
@media screen and (min-width: 1920px) {
  .visible-lg{
    display: none !important;
  }
}
@media screen and (max-width: 1921px) {
  .visible-xlg{
    display: none !important;
  }
}

.background-image#oakbluffs-representer {
  background-image: url('../images/pro-gallery/gingerbread-houses.jpg');
}

.background-image#menemsha-representer {
  background-image: url('../images/pro-gallery/menemsha-statue.jpg');
}

.background-image#aquinnah-representer {
  background-image: url('../images/pro-gallery/lifeguard-post.jpg');
}

.background-image#edgartown-representer {
  background-image: url('../images/pro-gallery/harbour-fourkids.jpg');
}

#about-contact {
  background: url('../images/about-contact/about-postcard.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  padding-bottom: 63.625%;
}

/*#about-contact * {
  background: transparent;
}*/

/*#about-contact p {
  margin-top: 50%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 150%;
}*/

#about-contact h3 {
  margin-top: 70%;  
}

#facebook-posts {
  padding: 2.5%;
  display: block;
  text-align: center;
  background: #222;
  color: #eee;
}

.facebook-post {
  display: inline-block;
  width: 7.5%;
  padding-bottom: 7.5%;
  margin: 1.25%;

  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#footer {
  background: #222;
  color: white;
  padding: 15px;
}

#pro-gallery-modal .modal-dialog {
  max-width: 90%;
  min-width: 80%;
  max-height: 80%;
  margin: 10% auto;
}

@media screen and (max-width: 767px) {
  #pro-gallery-modal .modal-dialog {
    max-width: 80%;
    min-width: 70%;
  }
}

#pro-gallery-modal .modal-content {
  background: transparent;
  box-shadow: none;
  border: none;
}

#pro-gallery-slick {
  visibility: hidden;
}

#pro-gallery-slick.slick-initialized {
  visibility: visible;
}

#scroll-up{
  position: fixed;
  z-index: 1000;
  top: 75%;
  right: 35px;
}


#pro-gallery-slick.slick-initialized .slick-slide {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

#pro-gallery-slick.slick-initialized .slick-slide img {
  margin: 0 auto;
}

/*#pro-gallery-slick .slick-track {
  /*height: 100vh;*
}

.pro-gallery-slide {
  text-align: center;
}

.pro-gallery-slide::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.pro-gallery-slide img {
  vertical-align: middle;
  display: inline-block;

  /*top: 50%;
  transform: translateY(-50%);*
}*/
>>>>>>> origin/develop
